<% if !srooms.blank? %>
  <h2 class="ui header">源数据</h2>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Class</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thr</th>
          <th>Fri</th>
          <th colspan="3" class="right aligned"></th>
        </tr>
      </thead>
      <tbody style="color: red">
       <% srooms.each do |sroom| %>
        <tr>
          <td><%= sroom.class_id %></td>
          <td><%= sroom.mon %></td>
          <td><%= sroom.tue %></td>
          <td><%= sroom.wed %></td>
          <td><%= sroom.thr %></td>
          <td><%= sroom.fri %></td>
          <td class="right aligned"><%= link_to 'Show', sroom %></td>
          <td class="right aligned"><%= link_to 'Edit', edit_room_path(sroom) %></td>
          <td class="right aligned"><%= link_to 'Destroy', sroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
       <% end %>
      </tbody>
    </table>
  <% end %><%# 搜索结果+数据部分结束 %>
