<% flash.each do |k,v| %>
<div class="ui positive message" id="flash">
  <i class="close icon"></i>
  <div class="header"><%= v%></div>
</div>

<% end %>

<div class="ui top fixed inverted menu">
  <div class="item">
    <i class="list layout icon"></i>
  </div>
  <div class="right menu">
  <% if current_user %>
    <a class="item">你好！</a>
  <% end %>
    <div class="ui dropdown item">
          管理员操作
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/signup">SignUp</a>
          <a class="item" href="/login">Login</a>
          <%= link_to "logout",logout_path, class: "item", method: "delete" %>
        </div>
    </div>
  </div>
</div>

<div class="ui teal inverted center aligned padded segment">
  <h1 id="head">空教室数据查询系统</h1>
  <h2>Version 1.0</h2>
  <% if current_user %>
    <h2 class="ui header">Import Classroom Data</h2>
    <%= form_tag import_rooms_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <%#<button class="mini ui primary basic button" type="submit">import</button>%>
    <% end %>
  <% end %>
  <img class="ui small circular image" src="http://ofnfnmmn0.bkt.clouddn.com/buaa.jpg" style="display:inline-block;"></img>
  <h3 class="ui header">Search Classroom Data</h3>
  <div class="ui search">
    <form id="main_form" action="/rooms/search" method="post" data-remote="true">
      <div class="ui icon input">
        <input class="prompt" type="text" name="key" placeholder="PleaseSearch......">
        <i class="search link icon" id="form_commit" ></i>
      </div>
    </form>
  </div>
<br/>
    <div class="ui basic modal">
      <div class="header">去公众号"buaasu"后台留言即可，谢谢支持！</div>
      <div class="actions">
        <div class="ui ok green basic inverted button">
            <i class="checkmark icon"></i>
                了解
        </div>
        <div class="ui project green basic inverted button">
          <i class="github alternate icon"></i>项目地址
        </div>
      </div>
    </div>
    <button class="red ui button" id="bug_report">汇报BUG</button>
    <div class="ui page dimmer" id="instructions_content">
      <div class="content">
        <div class="center">
          <h1>搜索说明：</h1>
          <div class="description">
            <h3>1.即时搜索：输入想要自习的教室名称，或者教学楼编号之后，系统会根据当前时间给出结果.</h3>
            <h4>例如:输入"J3"或者""来获取 J3的空教室 或者 全部空教室.</h4>
            <h3>2.Info：点击教室对应的Info小图标，会有可视化结果.</h3>
          </div>
        </div>
      </div>
    </div>
    <button class="black ui button" id="instructions">搜索说明</button>
<br/>
<% unless current_user %>
  <div class="results">
    <%= render partial:'rooms/results',locals:{srooms: @searchrooms,des:@descriptions}%>
  </div>
<% else %>
  <div class="details">
    <%= render partial:'rooms/details',locals:{srooms: @searchrooms,des:@descriptions}%>
  </div>
<% end %>

</div>

<br>

<%= link_to 'New Room', new_room_path %>
