<% flash.each do |k,v| %>
<div class="ui positive message" id="flash">
  <i class="close icon"></i>
  <div class="header"><%= v%></div>
</div>

<% end %>

<div class="ui teal inverted center aligned padded segment">
  <div class="ui center aligned header">
  <h1 id="head">空教室数据查询系统</h1>
  <h2>Version 1.0</h2>
  <% unless 1==1 %>
  <h2 class="ui header">Import Classroom Data</h2>
  <%= form_tag import_rooms_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
    <%#<button class="mini ui primary basic button" type="submit">import</button>%>
  <% end %>
  <% end %>
  <img class="ui small circular image" src="/buaa.jpg"></img>
  <h3 class="ui header">Search Classroom Data</h3>
  <div class="ui search">
    <form action="/rooms/search" method="post" data-remote="true">
      <div class="ui icon input">
        <input class="prompt" type="text" name="key" value="<%params[:key]%>" placeholder="PleaseSearch......">
        <i class="search icon"></i>
      </div>
    </form>
  </div>
<br/>
    <div class="ui basic modal">
      <div class="header">去公众号"buaasu"后台留言即可，谢谢支持！</div>
      <div class="actions">
        <div class="ui ok green basic inverted button">
            <i class="checkmark icon"></i>
                了解
        </div>
        <div class="ui project green basic inverted button">
          <i class="github alternate icon"></i>项目地址
        </div>
      </div>
    </div>
    <button class="red ui button" id="bug_report">汇报BUG</button>
    <div class="ui page dimmer" id="instructions_content">
      <div class="content">
        <div class="center">
          <h1>搜索说明：</h1>
          <div class="description">
            <h3>1.即时搜索：输入想要自习的教室名称，或者教学楼编号之后，系统会根据当前时间为您推荐最合适的空教室.</h3>
            <h4>例如:输入"J3"或者""来获取 J3的空教室 或者 全部空教室.</h4>
            <h3>2.预测搜索：输入想要自习的教室名称，或者教学楼编号+预期的时间之后，系统会根据输入时间为您推荐最合适的空教室.</h3>
            <h4>例如:输入"星期一 J3"或者"星期三"都会返回对应时间的结果</h4>
            <h4>*在这个模式下第x节统一指的是第x大节</h4>
          </div>
        </div>
      </div>
    </div>
    <button class="black ui button" id="instructions">搜索说明</button>
<br/>
<div class="results">
  <%= render partial:'rooms/results',locals:{srooms: @searchrooms,des:@descriptions}%>
</div>
<div class="details">
  <%= render partial:'rooms/details'%>
</div>

</div>

<br>

<%= link_to 'New Room', new_room_path %>
