<div class="ui equal width center aligned padded grid">
  <div class="row">

    <div class="blue column"><% if @week>1 %><button class="ui blue button" onclick="window.location.href='info?cid=<%=@room.class_id%>&week=<%=@week-1%>'">上一周</button><% end %></div>
    <div class="blue column">第&nbsp;<font color="#99e0ff" size=5><%=@week%></font>&nbsp;周</div>
    <div class="blue column"><% if @week<18 %><button class="ui blue button" onclick="window.location.href='info?cid=<%=@room.class_id%>&week=<%=@week+1%>'">下一周</button><% end %></div><br>
  </div>
    <div class="blue column"><%=@room.class_id%></div>

  <div class="row">
    <div class="blue column">星期一 </div>
    <div class="blue column">星期二 </div>
    <div class="blue column">星期三 </div>
    <div class="blue column">星期四 </div>
    <div class="blue column">星期五 </div>
  </div>
  <% for i in 0..5%>
  <div class="row">
    <% for s in 0..4%>
    <%# test %>
      <% if @column[s*6+i][@week]=="1" %>
        <div class="grey column">有课 </div>
      <%elsif @column[s*6+i][@week]=="0"%>
        <div class="column">没课 </div>
      <%end%>
    <%end%>

  </div>
  <% end %>
</div>
